/* src/App.css */

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  /* Aseguramos que ocupe todo el ancho */
}

/* Ajustes opcionales para que el Navbar no quede pegado a los bordes si usas container-fluid */
.container {
  max-width: 1200px;
}